:root {
    --pink: #FF7979;
    --green: #38CC8B;
    --purple: #5E54A4;
    --black: #3D3B48;
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color:var(--pink);
    background-image: url('./imgs/bg-intro-desktop.png');
    font-family: "Poppins", sans-serif;
    padding: 77px 20px;
}


.container{
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
   
    

}

.txt-itens{
    max-width: 525px;
    color: #fff;
}

.txt-itens h1{
    font-size: 50px;
    margin-bottom: 20px;

}

.txt-itens p{
    font-size: 16px;

}

.txt-value{
    background: var(--purple);
    
    color: #fff;
    letter-spacing: 0.27px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 0px 0px #00000025;

}

.txt-value p{
    text-align: center;
    padding: 20px;
}


.form-container .form-item{
    max-width: 540px;
    min-width: 360px;
    background: #fff;
    margin-top: 24px;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px #00000025;
    position: relative;
    
}

.messagem-confirm {
    position: absolute;
    background: #ffffff;
    width: 100%;
    border-radius: 8px;
    left: 0;
    top: 0;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.messagem-confirm.active {
    display: flex;
    animation: fadeInOut 1.5s ease; 
}

@keyframes fadeInOut {
    0% {
        opacity: 0; 
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
    }
}

.messagem-confirm svg{
    animation: zoom-in-zoom-out 1s ease infinite;
}


@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50%{
        transform: scale(1.5, 1.5)
    }
    100% {
      transform: scale(1, 1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



.campo-container{
    margin-bottom: 20px;

}


.input-container{
    display: flex;
    align-items: center;
    border: 2px solid #DEDEDE;
    border-radius: 8px;
    width: 100%;
    padding-right: 27px;
    gap: 10px;
   
   
}



.input-container input{
    width: 100%;
    height: 56px;
    font-size: 16px ;
    border-radius: 8px;
    padding-left: 32px;
    border: 0 none;
    outline: 0;
    color: var(--black);
    font-weight: 600;
    background: transparent;
    
}

.input-container input:focus{
    background: transparent;
}

.input-container input::placeholder{
    color: #757575;
    font-size: 16px;
}

.input-container svg{
    display: none;
}


.erro-message{
    font-size: 12px;
    color: var(--pink);
    text-align: end;
    margin-top: 6px;
    display: none;
    

}


.campo-container.active .input-container{
    border: 2px solid var(--pink);
}



.campo-container.active input{
    color: var(--pink);
}

.campo-container.active svg{
    display: block;
}

.campo-container.active .erro-message{
    display: block;
}


.btn-claim{
    background: var(--green);
    box-shadow: 0px -4px 0px 0px #00000017 inset;
    border: none;
    border-radius: 8px;
    width: 100%;
    height:56px ;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    margin-bottom: 8px;
    cursor:pointer;
    transition: 0.3s ease-in;
}

.btn-claim:hover{
   background: #4ae09f;
}

.txt-terms{
    text-align: center;
    font-size: 12px;
    color: #BAB7D4;
}

.txt-terms a{
    color: var(--pink);
    font-weight: 600;
}


@media screen and (max-width:700px) {
    .container{
        height: initial;
        gap: 45px;
        flex-direction: column;
       
    }

    .txt-itens h1{
        text-align: center;
        font-size: 28px;
    }

    .txt-itens p{
        text-align: center;
    }
    .form-container .form-item{
        min-width: initial;
    }

    .btn-claim{
        font-size: 14px;
    }
    
}